main{
    text-align: center;
}

.item-portfolio{
    display: inline-block;
    margin: 50px;
    border: 1px solid black;
}

.item-portfolio a{
    text-decoration: none;
    font-weight:bold;
    color:black;
    font-size:large;
}