body {
    margin: 0;   
    font-family: 'Roboto', sans-serif;
}

header {
padding: 50px;
}

header, footer{
    background-color: #EDC63C;
text-align: center;
}

header img {
    height: 150px;
    border-radius: 50%;
}

section {
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    background-color: #F6DA74;
    }

footer {
    padding: 10px;
        }